.header 
    .nav
        img(src="/logo.png" class='logo-image')
        a(href='/' class='logo') wellbeing
    .nav 
        a(href='/create-post' class='nav-button') create post
        h1.nav-button log out