@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;600&display=swap');

body {
    margin: 0;
    color: #005644;
    font-family: 'Mukta', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */

.header {
    background-color: #005644;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    width: calc(100vw - 25px);
    color: white;
    margin-bottom: 3rem;
    position: sticky;
    top: 0;
}

.logo-image {
    width: 1rem;
    height: 1rem;
    padding: 5px;
}

.logo {
    font-size: 1rem;
    font-weight: 200;
    margin: 0;
    text-decoration: none;
    color: white;
    transition: color .25s;
}

.logo:hover {
    color: #8dc7df;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-button {
    font-size: .8rem;
    font-weight: 400;
    margin: .5rem;
    padding: .5rem;
    cursor: pointer;
    transition: color .25s;
    color: white;
    text-decoration: none;
}

.nav-button:hover {
    color: #8dc7df;
}

/* INDEX */

.post-component {
    padding: .5rem;
    width: 75%;
    border: 3px #005644 solid;
    border-radius: 5px;
    margin: 1rem 0;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-title {
    font-size: 2rem;
    font-weight: 400;
    margin: .3rem 0;
    transition: all .25s;
    color: #005644;
    text-decoration: none;
}

.post-title:hover {
    color: #8dc7df;
}

.post-date {
    font-size: .8rem;
    font-weight: 400;
    margin: 0;
}

.post-author {
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .25s;
    margin: 0 0 .5rem;
    text-decoration: underline;
    width: fit-content;
}

.post-author:hover {
    color: #8dc7df;
}

.post-body {
    font-size: 1rem;
    font-weight: 200;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 5px 0;
}

.auth-action {
    color: #005644;
    transition: all .25s;
    text-decoration: underline;
    width: fit-content;
}

.auth-action:hover {
    color: #8dc7df;
}