extends includes/layout
block content
    include includes/header
    .post-component
        .post-header
            h1.post-title Coping with COVID-19 (id: #{postId})
            p.post-date November 11th, 2021
        h2.post-author sascha123
        p.post-body Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt accusamus iusto doloribus, adipisci sint earum nobis placeat quod nesciunt illum explicabo magni eaque dolore et! Necessitatibus cumque ipsum dolore animi architecto eveniet obcaecati optio, dicta accusamus corrupti veniam nam quaerat labore quia quidem perspiciatis assumenda est quas voluptatem impedit. Suscipit ducimus tempore itaque, hic quis, in tempora distinctio veritatis dignissimos, architecto quasi! Voluptatum vero nobis dolorem incidunt possimus debitis reiciendis, error amet praesentium aperiam natus corporis minima exercitationem eius in maiores odio tempore omnis qui optio? Suscipit consequuntur nesciunt in eaque necessitatibus saepe vel officia illum deserunt, magnam impedit architecto.