extends includes/layout 
block content 
    h1 Register here 
    form(action='/register' method='POST')
        label(for='email') Enter your email: 
        input('name'='email')
        label(for='username') Enter a username: 
        input('name'='username')
        label(for='passsword') Enter a password: 
        input('name'='password' type='password')
        input(type='submit' value='Submit')
    a(href='/login'  class='auth-action') Already have an account? Log in  